<!DOCTYPE html>
<h1>BlogBot 🏡</h1>

<p>Welcome to the home page.</p>
<p>This is a demo of BlogBot that enables you to post on LinkedIn automatically.
    Our app retrieves data (headlines and articles) from the biggest news
    providers and posts short summaries of them on your LinkedIn wall. You
    choose the schedule and leave the rest to us!</p>
{% if user %}
<h2>You are logged in :)</h2>
<p>
    Hi {{ user.username }}! You are logged in, so you can access the private
    page. <a href="/private">here</a>!
</p>
{% else %}
<h2>You are NOT logged in :(</h2>
<p>
    Hello stranger. You are not logged. Please follow the link to
    <a href="/auth/login" class="btn">login</a>!
</p>
{% endif %}

<hr>
