<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script
            src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <title>Welcome</title>
    </head>
    <body>
        <div class="ui container">
            <h1>
                Register:
            </h1>
            <form action="/login" method="post">
                <p>
                    <p><label for="">Email</label></p>
                    <input type="email" name="username" value="{{ username }}"
                        required>
                </p>
                <p>
                    <p><label for="">Password</label></p>
                    <input type="password" name="password" value="{{ password
                        }}" required>
                </p>
                <input type="submit" value="Submit">
            </form>
        </div>

    </body>
</html>
